# =========================
# App Configuration
# =========================
APP_NAME="Invoice System API"
ENVIRONMENT=development
API_V1_STR=/api/v1

# =========================
# PostgreSQL Configuration
# =========================
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Optional - Full database URL
DATABASE_URL=postgresql://user:password@localhost:5432/db_name

# =========================
# SMTP / Email Configuration
# =========================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_FROM_NAME="Invoice System"
