# App Settings
APP_NAME="Invoice System API"
ENVIRONMENT="development"
API_V1_STR="/api/v1"

# Database Configuration (PostgreSQL)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=invoice_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# SQLAlchemy Database URL (using asyncpg for async PostgreSQL)
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/invoice_db
